  
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body {
      font-family: sans-serif;
      background: #8fd2ec;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    
    
    .tarjeta {
      width: 340px;
      background: white;
      border-radius: 10%;
      padding: 25px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .perfil-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
    }

    .avatar {
      width: 85px;
      height: 85px;
      border-radius: 50%;
      background: #d9d9d9;
      flex-shrink: 0;
    }

    .datos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      gap: 5px;
    }

    .datos h2 {
      font-size: 22px;
    }

    .usuario {
      color: gray;
      font-size: 14px;
    }

    .bio {
      line-height: 1.5;
      color: #444;
      text-align: center;
    }

    .estadisticas {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      text-align: center;
    }

    .estadisticas div {
      flex: 1;
      padding: 10px;
      background: #f0f0f0;
      
    }

    .botones {
      display: flex;
      justify-content: space-around;
      gap: 10px;
    }

    .botones button {
      flex-grow: 1;
      padding: 10px;
      border: none;
      
      cursor: pointer;
      background: #3da7fe;
      color: white;
      font-size: 14px;
    }

    .miniaturas {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      
      
     }

     .miniaturas img {
       width: 100px;
      height: 70px;
      background: #dcdcdc;
      border-radius: 8px;
      flex: 1;
      min-width: 90px;
     }

    .miniaturas div {
      width: 100px;
      height: 70px;
      background: #dcdcdc;
      border-radius: 8px;
      flex: 1;
      min-width: 90px;
    }
